

#idCenter{
    background-color: aquamarine; 
    margin-top: 8%;
    padding-left: 5%;
    border-radius: 50px;
}

input{
    margin-top: 3vh;
}

#idMain{
    background-color:honeydew;
    height: 65vh;
    margin-top: 10%;
    padding-left: 5%;
}

